h1,h2,h3,h4,p,a,html, ul{
  margin: 0;
  padding: 0;
}

a, a:active, a:hover{
  text-decoration: none;
}

body{
  box-sizing: border-box;
  font-family: "Titillium Web";
  color: rgb(83, 83, 83);
}

.header{
  position: relative;
  height: fit-content;
  /* background-color: rgb(255, 2, 177); */
}
.header:before { 
    content: '';
    position: absolute;
    left: -6%;
    width: 106%;
    height: 200%;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(175, 175, 175, 0.555);
    /* top: 7px; */
    bottom: 30%;
    transform: rotate(-6deg);
    z-index: 0;
    
}
.container{
  padding: 0 10%;
}
.header__row{
  display: flex;
  justify-content: space-between;
  /* margin: 0 -60px; */
}

.header__column{
  display: flex;
  padding: 7% 0px;

}

.header__img{
  position: relative;
  width: 170px;
  height: 170px;
}

.account__photo{
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.header__title{
  text-transform: uppercase;
  z-index: 10;
}

.title__name{
  font-size: 35px;
  margin-bottom: 2%;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
}
.title__profession{
  font-weight: 400;
  letter-spacing: 3px;
}

/*----------------- MAIN SECTION ----------*/

.main__content{
  display: flex;
  flex-direction: column;
}
.main__raw{
  display: flex;
  padding: 0 0 5%;
  border-bottom: 2px solid black;
  margin: 0 -5% 5%;
}
.main__raw:last-child{
  border: none;
}
.main__column{
  padding: 5%;
  font-size: 16px;
}

.main__column:nth-child(n+1){
  flex: 1;
}
.main__column:nth-child(n+2){
  flex: 2;
}
.main__column:nth-child(2n+1){
  border-right: 2px solid black;
  /* padding: 0 5% 0 0; */
}

.contact{
  display:flex;
  flex-direction: column;
}
.list-contact__item{
  position: relative;
  padding: 0 0 0 34px;
  margin-bottom: 13px;
  /* font-size: 12px; */
}
.contact__icon{
  position: absolute;
  height:25px;
  width: 25px;
  top: 2px;
  left: 0;
}

.tel{
  background: url('./phone-call.svg');
  background-repeat: no-repeat;
  object-fit: contain;
}
.email{
  background: url('./gmail.svg');
  background-repeat: no-repeat;
  object-fit: contain;
}
.tg{
  background: url('./telegram.svg');
  background-repeat: no-repeat;
  object-fit: contain;
}


.title{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 2.5%;
}

.education__block{
  /* padding: 0 0 5%; */
  margin: 0 0 5%;
  border-bottom: 2px solid black;
}

.dsr-education__block{
  margin: 0 0 10%;
}

.course__item{
  margin: 0 0 5%;
}

.subtitles{
  margin: 0 0 1%;
  font-size:18px;
  text-transform: uppercase;
  font-weight: 400;
  color:rgb(185, 185, 185);
}

.skills__list{
  padding: 0 0 0 7%;
}

.work-list__title{
  font-weight: 600;
}

.work__list{
  padding: 0 0 0 5%;
}

.work__expirience{
  margin: 0 0 5%;
}

.projects__item{
  padding: 0 0 2% 0;
}

.projects__link{
  font-style: italic;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.projects__link:hover{
  font-weight: 600;
  color: rgb(27, 27, 27);
}


.footer {
  /* background:#242425; */
  padding: 1% 0 ;  
  flex: 0 ;
}
.footer__row {
  display:flex;
  /* justify-content: space-between; */
  align-items: center;
}

.footer__column:nth-child(2){
  margin: 0 9% 0 37%;
}


.footer__info {
  font-size: 13px;
  line-height: 21px;
  /* color: rgb(128, 98, 25); */
}
.footer__info span{
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 1px;
}

.rs__logo{
  width: 100px;
  margin: 0 auto;
}
.social__networks {
  display:flex;
  flex-wrap: wrap;
}
.network__logo {
  position: relative;
  width: 36px;
  height: 36px;
  margin:0 7.5px 0;
}
.network__logo img{
  position: absolute;
  /* // width: 100%; */
  height: 84%;
  object-fit: cover;
}

